root{
    --dark-color:#2C3333;
    --secondary-dark-color:#2E4F4F;
    --green-color:#0E8388;
    --light-green-color:#CBE4DE;
    --white: white;
}

body{
    font-family: 'Bowlby One SC', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.wrap {
    font-size: 25px;
    /* background-image: url("https://r4.wallpaperflare.com/wallpaper/513/292/11/gradient-abstract-hd-4k-wallpaper-e846cdf85000ec0870cc012e9822d47a.jpg"); */
    /* background-image: url("https://img.freepik.com/free-vector/space-game-background-with-landscape-planet_107791-1700.jpg?w=1060&t=st=1700493120~exp=1700493720~hmac=ffbd4ea07c99cae1e891daf02424c481ce329c0dca31a3f7c72e6279504fa107"); */
    background-image: url("https://r4.wallpaperflare.com/wallpaper/760/955/638/artwork-landscape-sky-mountains-wallpaper-78664db880d01c78404c214e28e2847a.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    cursor: cell;
}

.main-container{
    height: 70vh;
    background: rgb(255,229,197);
    background: rgb(255,229,197);
    background: radial-gradient(circle, rgba(255,229,197,1) 0%, rgba(255,200,132,1) 44%, rgba(223,152,73,1) 100%);
    width: 45%;
    border-radius: 32px;
    border: 5px solid #83541e;
    box-shadow: inset 0 6px 2px #cd893b;
} 

.title-container{
    background-color: #F2ECBE;
    margin: 10px;
    border-radius: 25px;
    box-shadow: inset 0 5px 3px 0px #b5af81;
    /* border: solid 30px white; */
    margin-bottom: 5vh;
}

h1 {
    font-family: 'Bowlby One SC', sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 0;
    color: #9A3B3B;
}

p {
    font-size: 25px;
    text-align: center;
    
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10px; 
    margin: 0;
}

/* button{
    font-size: 25px;
}

.button {
  appearance: button;
  background-color: #16b4ba;
  background-image: none;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0 5px 10px 0;
  overflow: visible;
  padding: 12px 40px;
  text-align: center;
  text-transform: none;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.button:focus {
  text-decoration: none;
}

.button:hover {
  text-decoration: none;
  background-color: #0a5e61;
  transition: all 0.4s;
}

.button:active {
  box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
  outline: 0;
}

.button:not([disabled]):active {
  box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button {
    padding: 12px 50px;
  }
} */


.button {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  height: 75px;
  width: 400px;
  background: rgb(255,224,150);
  background: linear-gradient(0deg, rgba(255,224,150,1) 19%, rgba(255,240,200,1) 75%);
  border-radius: 25px;
  box-shadow: rgba(236, 186, 136, 0.2) 0 -25px 18px -14px inset,rgba(187, 149, 44, 0.15) 0 1px 2px,rgba(187, 132, 44, 0.15) 0 2px 4prgba(187, 154, 44, 0.15)5 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: rgb(128, 90, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 25px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:hover {
  box-shadow: rgba(187, 158, 44, 0.35) 0 -25px 18px -14px inset,rgba(187, 134, 44, 0.25) 0 1px 2px,rgba(187, 151, 44, 0.25) 0 2px 4px,rgba(187, 127, 44, 0.25) 0 4px 8px,rgba(187, 142, 44, 0.25) 0 8px 16px,rgba(187, 130, 44, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.bounce {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  margin: 0;
}
.bounce span {
  display: inline-flex;
  color: #c7f4ff;
  font-family: 'Bowlby One SC', sans-serif;
    font-size: 100px;
    text-align: center;
    margin: 0;
    color: #9A3B3B;
  animation: bounce 1s infinite;
}
@keyframes bounce {
  0%,
  50%,
  100% {
      transform: translateY(0);
  }
  25% {
      transform: translateY(-20px);
  }
}
.ten span:nth-of-type(1) {
  animation-delay: 0.1s;
}
.ten span:nth-of-type(2) {
  animation-delay: 0.2s;
}
.ten span:nth-of-type(3) {
  animation-delay: 0.3s;
}
.ten span:nth-of-type(4) {
  animation-delay: 0.4s;
}
.ten span:nth-of-type(5) {
  animation-delay: 0.5s;
}
.ten span:nth-of-type(6) {
  animation-delay: 0.6s;
}
